#!/usr/bin/env sh

set -e

echo "Installing: nvim plugins ********************"
{{ if (eq .chezmoi.os "darwin") -}}
nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
{{ end }}
{{ if (.codespaces) -}}
$HOME/.local/bin/nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
{{ end -}}
