snippet r19
	#!ruby19
snippet dg19
	require 'debugger'; debugger
snippet rutf8
	# encoding: utf-8

snippet test
	test "${1:should}" do
		${2}
	end
snippet dos
	do
		${1}
	end
snippet des
	describe '${1}' do
		${2}
	end
snippet con
	context '${1}' do
		${2}
	end
snippet it
	it '${1:should }${2}' do
		${3}
	end
snippet let
	let${1}(:${2}) { ${3} }
