[".config/zsh/plugins/zsh-autosuggestions"]
  type = "git-repo"
  url = "https://github.com/zsh-users/zsh-autosuggestions.git"
  refreshPeriod = "168h"
[".local/share/terminfo.src"]
  type = "file"
  url = "https://invisible-island.net/datafiles/current/terminfo.src.gz"
  exact = true
  refreshPeriod = "168h"
    [".local/share/terminfo.src".filter]
      command = "gunzip"
[".config/alacritty/alacritty.info"]
  type = "file"
  url = "https://raw.githubusercontent.com/alacritty/alacritty/master/extra/alacritty.info"
  exact = true
  refreshPeriod = "168h"

{{ range $name, $pkg := .nvim.packages }}
{{ $type := and (hasKey $pkg "type") $pkg.type | default "start" }}
[".local/share/nvim/site/pack/chezmoi/{{$type}}/{{$name}}"]
  type = "git-repo"
  url = "https://github.com/{{$pkg.github}}.git"
  refreshPeriod = "72h"
  [".local/share/nvim/site/pack/chezmoi/{{$type}}/{{$name}}".clone]
    {{ if (hasKey $pkg "branch") }}
      args = ["--depth=1", "--branch={{$pkg.branch}}", "--recurse-submodules", "--shallow-submodules"]
    {{ else }}
      args = ["--depth=1", "--recurse-submodules", "--shallow-submodules"]
    {{ end }}
  [".local/share/nvim/site/pack/chezmoi/{{$type}}/{{$name}}".pull]
    args = ["--recurse-submodules", "--update-shallow"]
{{ end }}

# vim:set ft=toml:
