[".config/zsh/plugins/zsh-autosuggestions"]
  type = "git-repo"
  url = "https://github.com/zsh-users/zsh-autosuggestions.git"
  refreshPeriod = "168h"
[".local/share/nvim/site/pack/packer/opt/packer.nvim"]
  type = "git-repo"
  url = "https://github.com/wbthomason/packer.nvim.git"
  refreshPeriod = "168h"
[".local/share/terminfo.src"]
  type = "file"
  url = "https://invisible-island.net/datafiles/current/terminfo.src.gz"
  exact = true
  refreshPeriod = "168h"
    [".local/share/terminfo.src".filter]
      command = "gunzip"
[".config/alacritty/alacritty.info"]
  type = "file"
  url = "https://raw.githubusercontent.com/alacritty/alacritty/master/extra/alacritty.info"
  exact = true
  refreshPeriod = "168h"
{{ if (.codespaces) }}
[".local/bin/exa"]
  type = "file"
  url = "https://github.com/ogham/exa/releases/download/v0.10.1/exa-linux-x86_64-v0.10.1.zip"
  executable = true
    [".local/bin/exa".filter]
      command = "busybox"
      args = ["unzip", "-", "bin/exa", "-p"]
[".local/bin/code-minimap"]
  type = "file"
  url = "https://github.com/wfxr/code-minimap/releases/download/v0.6.4/code-minimap-v0.6.4-x86_64-unknown-linux-gnu.tar.gz"
  executable = true
  [".local/bin/code-minimap".filter]
    command = "tar"
    args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "code-minimap-v0.6.4-x86_64-unknown-linux-gnu/code-minimap"]
{{ end }}

{{ range $name, $pkg := .nvim.packages }}
{{ $type := and (hasKey $pkg "type") $pkg.type | default "opt" }}
[".local/share/nvim-next/site/pack/chezmoi/{{$type}}/{{$name}}"]
  type = "git-repo"
  url = "https://github.com/{{$pkg.github}}.git"
  refreshPeriod = "168h"
  [".local/share/nvim-next/site/pack/chezmoi/{{$type}}/{{$name}}".clone]
    args = ["--depth=1", "--recurse-submodules", "--shallow-submodules"]
  [".local/share/nvim-next/site/pack/chezmoi/{{$type}}/{{$name}}".pull]
    args = ["--recurse-submodules", "--update-shallow"]
{{ end }}

# vim:set ft=toml:
