{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  codespaces = {{ $codespaces }}

# Manage Neovim plugins using chezmoi
#
# We can use chezmoi to install all Neovim packages.
# Chezmoi will ensure that the repositories are cloned and up
# to date for us.
#
# Here we define the packages we want to install under the
# `data.nvim.packages` table.
#
# To add a new package, add a new entry with the package's name.
# The name will be used as the directory under `*/nvim/site/pack/chezmoi/{opt/start}`. If the name has a dot, use quotes to ensure it's not
# split into attributes.
#
# Each package entry has the following attributes:
# - github: the GitHub path. Example: someone/plug.nvim
# - type: opt or start package type. Defaults to opt
#
# These package definitions are used inside the `.chezmoiexternal` file
#
# Example: plenary.nvim
# [data.nvim.packages."plenary.nvim"]
#   type = "start"
#   github = "nvim-lua/plenary.nvim"
[data.nvim.packages]
[data.nvim.packages."plenary.nvim"]
  type = "start"
  github = "nvim-lua/plenary.nvim"
[data.nvim.packages."nvim-treesitter"]
  type = "start"
  github = "nvim-treesitter/nvim-treesitter"
[data.nvim.packages.iswap]
  type = "start"
  github = "mizlan/iswap.nvim"

[data.nvim.packages."nvim-web-devicons"]
  type = "start"
  github = "kyazdani42/nvim-web-devicons"

[data.nvim.packages.lualine]
  github = "nvim-lualine/lualine.nvim"
[data.nvim.packages."rose-pine"]
  github = "rose-pine/neovim"

[data.nvim.packages.dirbuf]
  github = "elihunter173/dirbuf.nvim"

[data.nvim.packages."vim-just"]
  type = "start"
  github = "NoahTheDuke/vim-just"

[data.nvim.packages."vim-projectionist"]
  github = "tpope/vim-projectionist"
[data.nvim.packages."vim-eunuch"]
  type = "start"
  github = "tpope/vim-eunuch"
[data.nvim.packages."vim-characterize"]
  type = "start"
  github = "tpope/vim-characterize"
[data.nvim.packages."vim-abolish"]
  type = "start"
  github = "tpope/vim-abolish"

[data.nvim.packages."vim-grepper"]
  github = "mhinz/vim-grepper"

[data.nvim.packages."trouble.nvim"]
  github = "folke/trouble.nvim"
[data.nvim.packages."flash.nvim"]
  github = "folke/flash.nvim"

[data.nvim.packages.fugitive]
  github = "tpope/vim-fugitive"
[data.nvim.packages.diffview]
  github = "sindrets/diffview.nvim"

# After removing a package, add its name to the `data.nvim.graveyard`
# table so it can be removed by chezmoi using the .chezmoiremove file
#
# Example:
# [data.nvim.graveyard."plug.nvim"]
#   type = "start" # defaults to "opt" if missing
[data.nvim.graveyard]

# vim:set ft=toml:
