.DS_Store
**/.DS_Store
vim/.vim/.netrwhist
session.vim
.rake_tasks
vim/.vim/bundle/**/
vim/.vim/plugged/**/
vim/.vim/autoload/plug.vim
!vim/.vim/bundle/vundle
vim/.vim/tmp/**/*
!vim/.vim/tmp/backup/.gitkeep
!vim/.vim/tmp/undo/.gitkeep
!vim/.vim/tmp/swap/.gitkeep
!ruby/.bundle
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa.pub
vim/.vim/init.vim
vim/.vim/autoload/plug.vim.old
