[submodule "zsh/bundle/zsh-git"]
	path = zsh/bundle/zsh-git
	url = git://github.com/jcorbin/zsh-git.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle
[submodule "rbenv/core"]
	path = rbenv/core
	url = git://github.com/sstephenson/rbenv.git
[submodule "rbenv/plugins/rbenv-gemset"]
	path = rbenv/plugins/rbenv-gemset
	url = git://github.com/jamis/rbenv-gemset.git
[submodule "zsh/bundle/zsh-completions"]
	path = zsh/bundle/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
