sandbox
neovim/nvim/plugged
neovim/nvim/plugin/local.vim
neovim/nvim/pack/*
!neovim/nvim/pack/custom
!neovim/nvim/pack/.keep
neovim/nvim/view
neovim/nvim/autoload/plug.vim*
neovim/nvim/.netrwhist
neovim/nvim/plugin/packer_compiled.lua
neovim/nvim/lua/packer_compiled.lua
tmux/plugins
git/template
ruby/bundle/cache
