# ~/.zshenv: This file is executed in second place after /etc/zshenv

local config_dir="$HOME/.config/zsh"

if [[ -n $XDG_CONFIG_HOME ]] ; then
  config_dir=$XDG_CONFIG_HOME
fi

export EDITOR=nvim
export VISUAL=$EDITOR
export PAGER=less
{{ if (.codespaces) -}}
export SHELL=/bin/zsh
export LC_ALL="en_US.UTF-8"
export LANG="en_US.UTF-8"
export LANGUAGE="en_US:en"
{{- end }}

# No, homebrew, I don't want to send analytics
export HOMEBREW_NO_ANALYTICS=1

# ---------------------------------------------------------------------------
# Local settings
# ---------------------------------------------------------------------------
# Set this file for custom local changes
if [ -f "$config_dir/local.env.zsh" ]; then
  source "$config_dir/local.env.zsh"
fi

if [[ ! -o login ]]; then
  # Since there are custom PATH modifications in the zprofile,
  # let's load it as if we were in a login shell
  source "$HOME/.zprofile"
fi

# vim:set ft=zsh:
