{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

echo "Installing: homebrew packages ********************"
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "coreutils"
brew "git"
brew "bat"
brew "eza"
brew "ripgrep"
brew "ast-grep"
brew "starship"
brew "code-minimap"
brew "neovim"
brew "tmux"
brew "direnv"
brew "fd"
brew "fnm"
brew "frum"
brew "stylua"
brew "gh"
brew "jq"
brew "jhbabon/tap/scout"
brew "sqlite"
EOF

# vim:set ft=sh:
{{ end -}}
