{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

echo "Installing: rustup *******************************"
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path -c rust-analysis -c clippy -c rust-analyzer

# vim:set ft=sh:
{{ end -}}
