{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

echo "Installing: homebrew packages ********************"
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "coreutils"
brew "git"
brew "bat"
brew "exa"
brew "ripgrep"
brew "starship"
brew "code-minimap"
brew "neovim"
brew "tmux"
brew "direnv"
brew "fd"
brew "fnm"
brew "frum"
brew "stylua"
brew "gh"
brew "jq"
brew "go"
brew "gopls"
brew "golangci-lint"
brew "jhbabon/tap/scout"
brew "sqlite"
cask "alacritty"
cask "homebrew/cask-fonts/font-jetbrains-mono-nerd-font"
EOF

echo "Installing: goimports ****************************"
go install golang.org/x/tools/cmd/goimports@latest

echo "Installing: rustup *******************************"
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path -c rust-analysis -c clippy -c rust-analyzer
{{ end -}}
