#!/usr/bin/env sh

set -e

echo "Installing: tmux plugins ********************"
~/.tmux/plugins/tpm/bin/install_plugins

echo "Installing: tmux terminfo ********************"
tic -x ~/.tmux/tmux.terminfo

# vim:set ft=sh:
