#!/usr/bin/env sh

set -e

echo "Installing: alacritty terminfo ********************"
if [ -f "/usr/bin/tic" ]; then
  /usr/bin/tic -xe alacritty,alacritty-direct ~/.config/alacritty/alacritty.info
fi

# vim:set ft=sh:
